$font-family: Helvetica, sans-serif
$primary-color: #2A2A2A
$contrast-color: #3455db

body
  font-family: $font-family
  color: $primary-color
  margin: 0

  ul
    list-style-type: none
    padding: 0px
  li
    padding: 0.5rem 0rem
  a
    text-decoration: none
    color: $contrast-color
  img
    max-width: 100%
    max-height: 100%

#site-title
  color: #FFFFFF
  border: 0.125rem solid $primary-color
  background-color: $primary-color
  padding: 0.2rem 0.4rem 2rem 2rem
  text-align: right
  position: relative
  height: 3rem
  width: 8rem
  h4
    position: absolute
    margin: 0
    right: 0.5rem
    bottom: 0.25rem

#content
  display: flex
  flex-wrap: wrap
  padding: 0 0 3rem 0
  gap: 1rem

#sidebar
  flex-grow: 1
  text-align: right
  padding: 0rem 3rem

#main-content
  flex-basis: 0
  flex-grow: 999
  min-width: 60%
  padding: 0rem 3rem

#footer
  text-align: center
  p
    font-size: 12px
    margin: 0.125rem

  div.social
    display: inline-block
    padding: 0.125rem
    height: 16px
    width: 16px

.inline-block
  display: inline-block

.avatar
  width: 100px
  height: 100px
  border-radius: 50%
  overflow: hidden
  margin: auto
