@mixin padding-xsmall
  padding: 0.125em 0

@mixin padding-small
  padding: 0.5em 0

@mixin padding-medium
  padding: 1em 0

@mixin padding-large
  padding: 2em 0

@mixin padding-xlarge
  padding: 4em 0
