@use "sass:map"

@mixin styles($theme)
  $font-family: Helvetica, sans-serif

  body
    font-family: $font-family
    color: map-get($theme, "primary-color")
    background-color: map-get($theme, "background-color")
    margin: 0

    ul
      list-style-type: none
      padding: 0px
    li
      padding: 0.5rem 0rem
    a
      text-decoration: none
      color: map-get($theme, "contrast-color")
    img
      max-width: 100%
      max-height: 100%
      
  #site-title
    color: map-get($theme, "background-color")
    border: 0.125rem solid map-get($theme, "primary-color")
    background-color: map-get($theme, "primary-color")
    padding: 0.2rem 0.4rem 2rem 2rem
    text-align: right
    position: relative
    height: 3rem
    width: 8rem
    h4
      position: absolute
      margin: 0
      right: 0.5rem
      bottom: 0.25rem
  #toc-title
    margin: 0

  #TableOfContents
    border-top: 1px solid map-get($theme, "primary-color")
    border-bottom: 1px solid map-get($theme, "primary-color")
    padding: 1rem 0
    ol
      margin: 0
      list-style-type: disc
    li
      padding: 0.125rem

  #content
    display: flex
    flex-wrap: wrap
    padding: 0 0 3rem 0
    gap: 1rem

    #sidebar
      flex-grow: 1
      text-align: right
      padding: 0rem 3rem

    #main-content
      flex-basis: 0
      flex-grow: 999
      min-width: 45%
      padding: 0rem 3rem

    #footer
      text-align: center
      p
        font-size: 12px
        margin: 0.125rem

      div.social
        display: inline-block
        padding: 0.125rem
        height: 16px
        width: 16px

    .inline-block
      display: inline-block

    .list
      time
        font-style: italic
        font-size: 12px
