@use "sass:map"
@import mixins

@mixin styles($theme)
  body
    font-family: Helvetica, sans-serif
    font-size: 1em
    color: map-get($theme, "primary-color")
    background-color: map-get($theme, "background-color")
    margin: 0
    a
      text-decoration: none
      color: map-get($theme, "contrast-color")
    aside
      header
        display: inline-block
    footer
      @include padding-xlarge
      text-align: center
      p
        font-size: 0.75em
        margin: 0.125em

      div.social
        @include padding-xsmall
        display: inline-block
        height: 1em
        width: 1em
    img
      max-width: 100%
      max-height: 100%
    li
      @include padding-xsmall
    ol
      list-style-type: disc
      margin: 0
    time
      font-style: italic
      font-size: 0.75em
    ul
      list-style-type: none
      padding: 0
    svg
      fill: map-get($theme, "primary-color")

  #site-title
    color: map-get($theme, "background-color")
    border: 0.125em solid map-get($theme, "primary-color")
    background-color: map-get($theme, "primary-color")
    padding: 0.2em 0.4em 2em 2em
    text-align: right
    position: relative
    height: 3em
    width: 8em
    h4
      position: absolute
      margin: 0
      right: 0.5em
      bottom: 0.25em
  #toc-title
    margin: 0

  #TableOfContents
    @include padding-medium
    border-top: 0.0625em solid map-get($theme, "primary-color")
    border-bottom: 0.0625em solid map-get($theme, "primary-color")

  #content
    display: flex
    flex-wrap: wrap
    padding: 0 0 3em 0
    gap: 1em

  #sidebar
    flex-grow: 1
    text-align: right
    padding: 0 3em

  #main-content
    flex-basis: 0
    flex-grow: 999
    min-width: 45%
    padding: 0 3em

  #mayhem
    @include padding-large
    text-align: left

  .padding-small
    @include padding-small
